$fa-font-path: "/assets/fonts";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/fa-regular.scss";
@import "fontawesome/fa-brands.scss";

@import "settings";
@import "lib/foundation-sites/scss/foundation.scss";

@include foundation-everything;

#barcode-form {
  padding-top: $global-margin;
}

.input-group select {
  margin-bottom: 0;
}
